@{
    ViewBag.Title = "Speed Test Results";
}
<br />
<div id="chart_div"></div>
<br />
<h2>Tabulated Data</h2>
<div id="table_div"></div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>


<script type="text/javascript" 
        src="https://www.gstatic.com/charts/loader.js">//To Fix bug in Charts v 42</script>

<script type="text/javascript">
    //google.load('visualization', '1', { packages: ['corechart', 'line'] });
    //google.setOnLoadCallback(drawChart);
	
	//To fix bug in Charts v 42
	google.charts.load('41', {packages: ['corechart', 'line']});
    	google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        
        var jsonData = $.ajax({
            url: "/speedtest-logger/json/days/7",
            dataType: "json",
            async: false
        }).responseText;

        // Create our data table out of JSON data loaded from server.
        var data = new google.visualization.DataTable(jsonData);

        var options = {
            chart: {
                //title: 'Broadband Speed'
            },

            width: 1024,
            height: 600,
            hAxis: { showTextEvery: 5 },
            vAxes: {
                0: {
                    viewWindowMode: 'explicit',
                    viewWindow: {
                        max: 54,
                        min: 0
                    },
                    gridlines: {/*color: 'transparent'*/ },
                    title: 'Speed (MBps)'
                },
                1: {
                    viewWindow: {
                        max: 325,
                        min: 0
                    },
                    gridlines: { color: 'transparent' },
                    title: 'Ping Time (ms)'
                },
            },
            series: {
                // Gives each series an axis name that matches the Y-axis below.

                0: { axis: 'Down', targetAxisIndex: 0 },
                1: { axis: 'Up', targetAxisIndex: 0 },
                2: { axis: 'Ping', targetAxisIndex: 1 }

            },
            axes: {
                // Adds labels to each axis; they don't have to match the axis names.
                y: {

                    Down: {
                        label: 'Down (Mbps)'
                    }
                    ,
                    Up: {
                        label: 'Up (Mbps)',
                        minValue: 0,
                        viewWindow: {
                            min: 0,
                            max: 100
                        },
                        ticks: [0, 25, 50, 75, 100] // display labels every 25


                    },
                    Ping: { label: 'Ping (ms)' }
                },
                x: { 0: { label: 'Time' } }

            }
        };

        var chart = new google.charts.Line(document.getElementById('chart_div'));
        chart.draw(data, google.charts.Line.convertOptions(options));

        //Now load the tabulated data
        loadTableData("/speedtest-logger/table/days/7");
              
        // Handle click of Show Ping Checkbox:
        var showPing = true;
        $("#pingSelect").click(function () {
            view = new google.visualization.DataView(data);
            showPing = !showPing
            if (!showPing) {
                view.hideColumns([3]);
            }
            chart.draw(view, google.charts.Line.convertOptions(options));
            
        });

        //Handle change of dropdown

        $("#duration").change(function () {
            var select = $("#duration option:selected").val();
            var dataURL = "/speedtest-logger/json/days/7";
            switch (select) {
                case "6hours":
                    dataURL = "/speedtest-logger/json/hours/6";
                    break;
                case "12hours":
                    dataURL = "/speedtest-logger/json/hours/12";
                    break;
                case "today":
                    dataURL = "/speedtest-logger/json/days/1";
                    break;
                case "7days":
                    dataURL = "/speedtest-logger/json/days/7";
                    break;
                case "14days":
                    dataURL = "/speedtest-logger/json/days/14";
                    break;
                case "28days":
                    dataURL = "/speedtest-logger/json/days/28";
                    break;
                default:
                    dataURL = "/speedtest-logger/json/days/7";
                    break;
            }
            //end switch
            //grab new data
            var jsonData = $.ajax({
                url: dataURL,
                dataType: "json",
                async: false
            }).responseText;

            // Create our data table out of JSON data loaded from server.
            data = new google.visualization.DataTable(jsonData);
            view = new google.visualization.DataView(data);
            //Modify the view to hide Ping if required
            if (!showPing) {
                view.hideColumns([3]);
            }
            //Draw
            chart.draw(view, google.charts.Line.convertOptions(options));
            //Load the table
            loadTableData(dataURL.replace("json", "table"));
        });

    }

    function loadTableData(url) {
        $.ajax({
            type: "GET",
            dataType: "html",
            url: url,
            success: function (d) {
                $('#table_div').html(d);
            }
        });
    }
</script>